.content-left {
  display: flex;
  flex-direction: column;

  max-height: calc(100vh - 52px);

  border-right: 2px solid var(--bright);

  .preview-wrapper {
	display: flex;
	flex-direction: column;

	height: 100%;

	overflow-y: auto;
	overflow-x: hidden;

	.loading-previews, .no-previews {
	  display: flex;
	  align-items: center;
	  justify-content: center;

	  height: 100%;
	  padding: 20px;
	}

	.no-previews {
	  flex-direction: column;

	  i {
		margin: 10px;
		font-size: 80px;
		color: var(--grey);
	  }

	  .text {
		font-style: italic;
		color: var(--grey);
	  }

	}

	.create-wrapper {
	  display: flex;
	  flex-direction: column;
	  align-items: center;

	  width: 100%;

	  .wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		width: 100%;

		padding: 8px;

		cursor: pointer;

		i {
		  padding: 8px;
		  font-size: 28px;
		  color: var(--dark);
		}

		.text {
		  .name {
			margin-left: 6px;

			color: var(--special);
			text-decoration: underline;
		  }
		}

		.right {
		  margin-left: auto;
		}
	  }

	  div:hover {
		background: var(--light);
	  }
	}

	.selected {
	  background-color: var(--grey) !important;

	  color: white;

	  .info {
		color: white;
	  }

	  .from {
		color: white !important;
	  }

	  .text {
		color: white;
	  }

	  .delete i {
		color: white;
	  }

	  .unread-wrapper i {
		color: white;
	  }

	  .sent {
		color: white;
	  }
	}

	.splitter {
	  width: 100%;
	  height: 0;
	  border-top: 1px solid var(--bright);
	}
  }
}
