.selected-messages-menu {
  display: flex;
  flex-shrink: 0;
  align-items: center;

  height: 50px;

  padding: 4px;

  background: white;

  border-top: 2px solid var(--bright);
  border-radius: 2px;

  .button {
	min-width: 0;

	padding: 4px;

	text-align: center;

	cursor: pointer;

	color: white;

	border-radius: 5px;

	i:hover {
	  color: var(--special);
	}

  }

  .text-button {
	margin: 4px 8px;
	padding: 4px;

	cursor: pointer;
  }

  .text-button:hover {
	color: var(--special);
  }

  .right {
	margin-left: auto;

	display: flex;
	align-items: center;
  }

}

