.header-right {
  display: flex;
  align-items: center;

  background: var(--dark);

  border-radius: 0 2px 2px 0;

  color: white;

  .preview-info {
	display: flex;
	align-items: center;

	padding: 0 10px;

	.avatar {
	  height: 40px;
	  width: 40px;

	  object-fit: cover;
	  border-radius: 20px;
	}

	.conversation-name {
	  font-weight: bold;
	  padding: 11.5px;

	  white-space: nowrap;
	}

	.status, .members {
	  font-size: 20px;
	  font-style: italic;

	  //fix cutoff
	  padding-right: 4px;

	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	}
  }

  .preview-info:hover {
	cursor: pointer;
	background: var(--black);
  }

  .right {
	display: flex;
	align-items: center;

	margin-left: auto;

	background: unset;

	.search, app-conversation-menu {
	  cursor: pointer;
	}

	* {
	  i {
		color: white;
		font-size: 24px;
		padding: 10px;

		cursor: pointer;
	  }

	  i:hover {
		color: var(--special);
	  }
	}

  }

  .menu {
	display: none;
	align-items: center;

	padding: 2px;

	height: 100%;

	cursor: pointer;

	i {
	  font-size: 32px;
	  color: white;
	}

	i:hover {
	  color: var(--special);
	}

  }

  .logout {
	display: grid;
	align-items: center;

	padding: 2px;

	height: 100%;

	cursor: pointer;

	i {
	  font-size: 32px;
	  color: white;
	}

	i:hover {
	  color: var(--special);
	}

  }

}
