.header-left {
  display: flex;
  align-items: center;

  padding: 10px;

  background: var(--dark);

  border-radius: 2px 0 0 2px;
}

.logo {
  display: grid;
  align-items: center;

  margin: 2px;

  height: 100%;

  cursor: pointer;

  i {
    font-size: 32px;
    color: white;
  }

  i:hover {
    color: var(--special);
  }

}

.logo-name {
  width: 100%;
  text-align: center;

  font-size: 26px;
  font-weight: bold;

  color: white;
}
