.header-right {
  display: flex;
  align-items: center;

  padding: 10px;

  background: var(--dark);

  border-radius: 0 2px 2px 0;

  color: white;

  .avatar {
    height: 40px;
    width: 40px;

    object-fit: cover;
    border-radius: 20px;
  }

  .conversation-name {
    font-weight: bold;
    padding: 11.5px;

    white-space: nowrap;
  }

  .conversation-name:hover {
    cursor: pointer;
    background: var(--black);
  }

  .status {
    font-size: 20px;
    font-style: italic;

    //fix cutoff
    padding-right: 4px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .right {
    display: flex;
    align-items: center;

    margin-left: auto;

    background: unset;

    .search {
      cursor: pointer;
    }

    i {
      color: white;
      font-size: 24px;
      padding: 10px;

      cursor: pointer;
    }

    i:hover {
      color: var(--special);
    }

  }

  .menu {
    display: none;
    align-items: center;

    padding: 2px;

    height: 100%;

    cursor: pointer;

    i {
      font-size: 32px;
      color: white;
    }

    i:hover {
      color: var(--special);
    }

  }

  .logout {
    display: grid;
    align-items: center;

    padding: 2px;

    height: 100%;

    cursor: pointer;

    i {
      font-size: 32px;
      color: white;
    }

    i:hover {
      color: var(--special);
    }

  }

}
