.selected-messages-menu {
  display: flex;
  flex-shrink: 0;
  align-items: center;

  height: 50px;

  padding: 4px;

  background: white;

  border-top: 2px solid var(--bright);
  border-radius: 2px;

  .button {
    min-width: 0;

    padding: 4px;

    text-align: center;

    cursor: pointer;

    color: white;

    border-radius: 5px;

    i:hover {
      color: var(--special);
    }

  }

  .text-button {
    margin: 4px 8px;
    padding: 4px;

    cursor: pointer;
  }

  .text-button:hover {
    color: var(--special);
  }

  .right {
    margin-left: auto;

    display: flex;
    align-items: center;
  }

}

.attachments-menu {
  position: absolute;
  bottom: 60px;
  margin-left: -6px;

  display: flex;

  flex-direction: column;

  background: white;
  border: 2px solid var(--bright);

  padding: 2px;

  .splitter {
    align-self: center;

    width: 100%;

    height: 1px;
    background: var(--bright);
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 10px;
    margin-right: 4px;

    font-size: 20px;

    cursor: pointer;

    i {
      padding: 4px;
      font-size: 20px;
    }
  }

  .button:hover {
    color: var(--special);

    i {
      color: var(--special);
    }
  }

}
