<div class="content" [ngClass]="isLeftView === true ? 'mobile-left' : 'mobile-right'">
  <header class="header-left">
    <div class="logo" routerLink="/im"><i class="fas fa-comment"></i></div>
    <div class="logo-name">Messenger.</div>
  </header>

  <header class="header-right">
    <div class="menu" (click)="closeConversation(); removeForwardedAttachment(); cancelEditing()">
      <i class="fas fa-bars"></i>
    </div>
    <div class="conversation-name" *ngIf="currentPreview">{{currentPreview.with.firstName}}
      {{currentPreview.with.lastName}}
    </div>
    <div class="status" *ngIf="currentPreview">
      {{lastSeenView(currentPreview.with.lastSeen)}}
    </div>
    <div class="right">
      <div class="search"><i class="fas fa-search"></i></div>
      <div class="logout" (click)="logout()"><i class="fas fa-sign-out-alt"></i></div>
    </div>
  </header>

  <div class="content-left">
    <div class="search">
      <div class="icon"><i class="fas fa-search"></i></div>
      <input id="search-conversations" type="text" placeholder="Search" [(ngModel)]="searchText"
             (ngModelChange)="searchForConversationsOrUsers($event)" name="search-conversations">
    </div>
    <div class="preview-wrapper">
      <div class="splitter"></div>
      <ng-container *ngIf="searchText.trim()[0] !== '@'">
        <app-preview
          *ngFor="let preview of previewsOrSearchPreviews()"
          [preview]="preview"
          [selected]="currentPreview && preview.conversation.id == currentPreview.conversation.id"
          [isOnline]="isOnline(preview.with.lastSeen)"
          (click)="openConversation(preview.conversation.id)">
        </app-preview>
        <div class="not-found" *ngIf="searchText && searchPreviews && searchPreviews.length === 0">
          <i class="far fa-frown"></i>
          <div class="text">No matching conversations found.</div>
        </div>
      </ng-container>
      <ng-container *ngIf="searchText && searchText.trim()[0] === '@'">
        <div class="user-preview"
             *ngFor="let user of searchUsers"
             (click)="createConversation(user)">
          <img class="avatar" src="assets/img/default-avatar.png" alt="">
          <div class="info">{{user.firstName}} {{user.lastName}}</div>
          <div class="login">@{{user.login}}</div>
          <!--TODO: if nothing found-->
        </div>
        <div class="not-found" *ngIf="searchUsers && searchUsers.length === 0">
          <i class="far fa-frown"></i>
          <div class="text">No matching users found.</div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="conversation">
    <div class="no-conversation" *ngIf="!currentPreview">
      <i class="fas fa-comments"></i>
      <div class="text">Select conversation to start messaging.</div>
    </div>
    <div class="no-conversation" *ngIf="currentPreview && isSelectForwardTo">
      <i class="fas fa-arrow-right"></i>
      <div class="text">Select conversation to forward messages to.</div>
    </div>
    <div class="no-messages" *ngIf="currentPreview && messages.length === 0 && !isSelectForwardTo">
      <i class="fas fa-comment"></i>
      <div class="text">Be the first. Messages will be displayed here.</div>
    </div>
    <div class="message-wrapper" *ngIf="currentPreview && !isSelectForwardTo" appScrollTop (scrollTop)="loadMore()">
      <app-message *ngFor="let message of messages | descSort: 'sent'" (click)="selectMessage(message)"
                   [message]="message" [isForwarded]="false" [me]="me">
      </app-message>
    </div>
    <div class="attachment-wrapper">
      <app-forwarded-attachment *ngIf="currentMessageAttachments && currentMessageAttachments.forwarded.length !== 0"
                                [forwarded]="currentMessageAttachments.forwarded"
                                (removeForwardedAttachmentEvent)="removeForwardedAttachment()">
      </app-forwarded-attachment>
    </div>
    <div class="send-message-wrapper"
         *ngIf="currentPreview && !(selectedMessages.length !== 0 && !editingMessage)">
      <i class="fas fa-ban" *ngIf="editingMessage" (click)="cancelEditing()"></i>
      <div appShowAttachmentsMenu>
        <i class="fas fa-paperclip" *ngIf="!editingMessage"></i>
        <div class="attachments-menu" *ngIf="showAttachmentsMenu">
          <div class="button"><i class="fas fa-camera"></i> Image</div>
          <div class="splitter"></div>
          <div class="button"><i class="fas fa-video"></i> Video</div>
          <div class="splitter"></div>
          <div class="button"><i class="fas fa-file"></i> Document</div>
        </div>
      </div>
      <textarea id="send-message-text" autofocus autosize rows="1" placeholder="Write a message..."
                [(ngModel)]="messageText"
                appMessageSend [minRows]="1" [maxRows]="10">
      </textarea>
      <div class="emoji">
        <i class="fas fa-smile"></i>
      </div>
      <div class="send-message">
        <i *ngIf="!editingMessage" class="fas fa-angle-right" (click)="sendMessage()"></i>
        <i *ngIf="editingMessage" class="fas fa-angle-up" (click)="editMessage()"></i>
      </div>
    </div>
    <div class="selected-messages-menu" *ngIf="selectedMessages.length !== 0 && !editingMessage">
      <div class="button" (click)="deleteSelectedMessages()"><i class="fas fa-trash"></i></div>
      <div class="button" (click)="attachSelectedMessagesAsForwardedAttachment()"><i class="fas fa-reply"></i></div>
      <div class="button" (click)="forwardSelectedMessages()"><i class="fas fa-arrow-right"></i></div>
      <div class="button" *ngIf="selectedMessages.length === 1 && selectedMessages[0].sender.login === me.login"
           (click)="editSelectedMessage()"><i class="fas fa-pen"></i></div>
      <div class="right">
        <div class="text-button" (click)="deselectMessages()">Cancel</div>
      </div>
    </div>
  </div>
</div>
