.attachments-menu-wrapper {

  i {
	padding: 10px;
	font-size: 28px;
	color: var(--dark);
	cursor: pointer;
  }

  i:hover {
	color: var(--special);
  }

  .attachments-menu {
	position: absolute;
	bottom: 60px;
	margin-left: -6px;

	display: flex;

	flex-direction: column;

	background: white;
	border: 2px solid var(--bright);

	padding: 2px;

	.splitter {
	  align-self: center;

	  width: 100%;

	  height: 1px;
	  background: var(--bright);
	}

	.button {
	  display: flex;
	  align-items: center;
	  justify-content: flex-start;

	  padding: 10px;
	  margin-right: 4px;

	  font-size: 20px;

	  cursor: pointer;

	  i {
		padding: 4px;
		font-size: 20px;
	  }
	}

	.button:hover {
	  color: var(--special);

	  i {
		color: var(--special);
	  }
	}

  }
}
