<div class="image-preview-wrapper">
	<div class="image-wrapper">
		<img [src]="ImageService.getImagePathByCompressionMode(
				FILE_URL + images[currentImageIndex].path,
				ImageCompressionMode.MEDIUM
			)"
		     (click)="openFullImage()" alt="">

		<div class="bottom-menu">
			<div class="sender">
				<img class="avatar"
				     [src]="ImageService.getImagePathByCompressionMode(
					FILE_URL + messageImage.message.sender.avatar.path,
					ImageCompressionMode.SMALL
				)"
				     alt=""/>
				<div class="name">
					{{messageImage.message.sender.firstName}}
				</div>
				<div class="sent">
					{{formatTime(messageImage.message.sent)}}
				</div>
			</div>
			<div class="current-image-count">
				Image {{currentImageIndex + 1}} of {{images.length}}
			</div>
			<div class="additional">
				<div class="button">
					<!--TODO: deal with download button-->
					<a [href]="FILE_URL + images[currentImageIndex].path" download>
						<i class="fas fa-arrow-alt-circle-down"></i>
					</a>
				</div>
				<div class="button" *ngIf="me && me.id === this.messageImage.message.sender.id"
				     (click)="deleteImage()">
					<i class="fas fa-trash"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="previous" [ngClass]="{'available': currentImageIndex !== 0}"
	     (click)="openPrevious()">
		<i class="fas fa-angle-left"></i>
	</div>
	<div class="next" [ngClass]="{'available': currentImageIndex !== images.length - 1}"
	     (click)="openNext()">
		<i class="fas fa-angle-right"></i>
	</div>
</div>
