.profile-container {
  display: flex;
  flex-direction: column;

  max-width: 500px;
  min-width: 400px;
  max-height: 100vh;

  overflow-y: auto;
  overflow-x: hidden;

  background: white;

  border-radius: 4px;

  .header {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    .name {
      padding-left: 16px;

      font-size: 24px;
      font-weight: bold;
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: end;

      .button {
        i {
          font-size: 24px;
          padding: 16px;
        }

      }

      .button:hover {
        color: var(--special);
      }

    }

  }

  .main {
    flex-shrink: 0;

    .preview {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      border-top: 1px solid var(--bright);
      border-bottom: 1px solid var(--bright);

      .avatar {
        width: 100px;
        height: 100px;

        margin: 10px;
      }

      .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .info {
          margin-right: 10px;
          grid-row: 2;

          font-size: 20px;
        }

        .login {
          grid-row: 3;
          grid-column: 2/4;

          font-size: 20px;
        }

      }

    }

  }

  .info {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;

    padding: 5px;

    .record {
      display: grid;
      grid-template-columns: 60px auto;
      align-items: center;

      i {
        justify-self: center;
        grid-column: 1;

        font-size: 28px;
        color: var(--grey);

        margin: 14px;
      }

      .fa-circle {
        font-size: 16px;
      }

      textarea {
        width: 100%;
        resize: none;
      }

      .editable {
        border: 0 none;

        grid-column: 2;

        font-size: 20px;

        margin-right: 14px;
      }

      .editable:disabled {
        background: none;
        color: inherit;
      }

    }

  }

  .edit-controls {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 5px 14px;

    .button {
      padding: 10px;
      cursor: pointer;
    }

    .apply {
      padding: 10px 30px;

      border-radius: 5px;
      background: var(--dark);
      color: white;
    }

  }

}
