<div class="profile-menu" *ngIf="!currentPreview && me" (appOutsideClick)="visible = false">
	<div class="button" (click)="visible = !visible;">
		<div class="text">{{me.firstName}}</div>
		<img class="avatar"
		     [src]="ImageService.getImagePathByCompressionMode(FILE_URL + me.avatar, ImageCompressionMode.SMALL)"
		     alt="">
		<!--TODO: animation-->
		<!--TODO: fix bug with clicking on i's-->
		<i class="fas fa-caret-down" *ngIf="!visible"></i>
		<i class="fas fa-caret-up" *ngIf="visible"></i>
	</div>
	<div class="context-menu" *ngIf="visible">
		<div class="button" (click)="open(me)">Preview profile</div>
		<div class="splitter"></div>
		<div class="button">Settings</div>
		<div class="splitter"></div>
		<div class="button" (click)="logout()">Logout</div>
	</div>
</div>
