.profile-menu {

  .button {
	display: flex;
	align-items: center;

	cursor: pointer;

	.text {
	  padding: 5px;
	}

	.avatar {
	  width: 40px;
	  height: 40px;

	  margin: 5px;

	  object-fit: cover;
	  border-radius: 20px;
	}

	i {
	  font-size: 20px;
	  color: var(--bright);

	  padding: 5px;
	}

  }

  .button:hover {
	background: var(--black);
  }

  .context-menu {
	position: absolute;
	top: 50px;
	margin-left: -68px;

	display: flex;
	flex-direction: column;

	width: 200px;

	color: black;
	background: white;

	.button {
	  padding: 10px;
	  font-size: 20px;

	  cursor: pointer;
	}

	.button:hover {
	  color: var(--special);
	  background: none;
	}

	.splitter {
	  width: 100%;
	  height: 1px;

	  margin: 4px 0;

	  background: var(--bright);
	}
  }
}
