.user-preview {
  flex-shrink: 0;

  display: grid;
  grid-template-columns: 65px auto min-content;
  grid-template-rows: 2.2fr 1fr 1fr;

  align-items: center;

  height: 60px;
  padding: 5px;

  border-top: 1px solid var(--bright);
  border-bottom: 1px solid var(--bright);

  .avatar {
	grid-column: 1;
	grid-row: 1/4;

	margin: 5px;

	width: 50px;
	height: 50px;

	object-fit: cover;
	border-radius: 25px;
  }

  .info {
	grid-column: 2/3;
	grid-row: 1;

	font-size: 16px;
	font-weight: bold;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }

  .login {
	grid-column: 2;
	grid-row: 2;

	font-size: 16px;
	color: var(--dark);

	min-width: 100px;
	max-width: 400px;
  }

  .add-to-chat {
	grid-column: 3;
	grid-row: 1/4;

	i {
	  padding: 4px;
	}
  }

  .add-to-chat:hover {
	i {
	  color: var(--special);
	}
  }
}

.user-preview:hover {
  background: var(--bright);
  cursor: pointer;
}

