<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Messenger.</title>

	<!--STYLES-->
	<link rel="stylesheet" type="text/css" href="css/auth.css">
	<link rel="stylesheet" type="text/css" href="css/scrollbar.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/header-left.css">
	<link rel="stylesheet" type="text/css" href="css/header-right.css">
	<link rel="stylesheet" type="text/css" href="css/search.css">
	<link rel="stylesheet" type="text/css" href="css/preview.css">
	<link rel="stylesheet" type="text/css" href="css/conversation.css">
	<link rel="stylesheet" type="text/css" href="css/message.css">
	<link rel="stylesheet" type="text/css" href="css/angular.css">

	<!--FONTS-->
	<link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">

	<!--ICONS-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--LIBS-->
	<script language="JavaScript" src="lib/angular.js"></script>
	<script type="text/javascript" src="lib/moment.js"></script>
</head>

<body ng-controller="MainController" ng-cloak>

<div class="auth-wrapper" ng-show="isAuth && isLoaded">
	<div class="auth">
		<div class="auth-content" ng-show="isLogin">
			<form ng-submit="login()">
				<div class="heading">Log in</div>
				<input autofocus type="text" placeholder="Login" ng-model="credentials.login">
				<input type="password" placeholder="Password" ng-model="credentials.password">
				<div class="register-hint">Haven't join yet? <a ng-click="isLogin = false">Register</a>.</div>
				<input type="submit" value="Login">
			</form>
		</div>
		<div class="register-content" ng-show="!isLogin">
			<form ng-submit="register()">
				<div class="heading">Register</div>
				<input autofocus type="text" placeholder="Login" ng-model="credentials.login">
				<input type="password" placeholder="Password" ng-model="credentials.password">
				<input type="password" placeholder="Confirm password" ng-model="credentials.confirmPassword">
				<div class="register-hint">Change your mind? <a ng-click="isLogin = true">Login</a>.</div>
				<input type="submit" value="Register">
			</form>
		</div>
	</div>
</div>

<div class="content" ng-show="!isAuth && isLoaded">

	<header class="header-left">
		<div class="logo" ng-click="state = 'out'">
			<i class="fas fa-comment"></i>
		</div>
		<div class="logo-name">
			Messenger.
		</div>
	</header>

	<header class="header-right">
		<div class="conversation-name">Андрей Алексеев</div>
		<div class="status">online</div>
		<div class="right">
			<div class="icon"><i class="fas fa-search"></i></div>
			<i class="fas fa-sign-out-alt" ng-click="logout()"></i>
		</div>
	</header>

	<div class="content-left">
		<div class="search">
			<div class="icon"><i class="fas fa-search"></i></div>
			<input id="search-conversations" type="text" placeholder="Search" ng-model="searchText"
			       ng-change="searchForConversations()">
		</div>

		<div class="preview-wrapper">
			<div ng-repeat="preview in conversationsOrSearch()" class="preview"
			     ng-click="openConversation(preview.conversation.id)" ng-show="!isUserSearch">
				<img class="avatar" src="img/default-avatar.png">
				<div class="info">{{preview.with.userMainInfo.firstName}} {{preview.with.userMainInfo.lastName}}</div>
				<div class="message-preview">
					<div class="from" ng-show="preview.lastMessage">
						{{preview.lastMessage.sender.user.login === credentials.login ? 'You' :
						preview.lastMessage.sender.userMainInfo.firstName}}:
					</div>
					<div class="text">{{preview.lastMessage.message.text}}</div>
				</div>
				<div class="delete"><i class="fas fa-times"></i></div>
				<div class="unread"><i class="fas fa-circle"></i></div>
				<div class="sent">{{preview.lastMessage.message.sent}}</div>
			</div>
			<div ng-repeat="user in searchUsers" class="user-preview" ng-click="createConversation(user.user.login)"
			     ng-show="isUserSearch">
				<img class="avatar" src="img/default-avatar.png">
				<div class="info">{{user.userMainInfo.firstName}} {{user.userMainInfo.lastName}}</div>
				<div class="login">@{{user.user.login}}</div>
			</div>
		</div>
	</div>

	<div class="conversation">
		<div id="no-conversation" ng-show="state === 'out'">
			Select conversation to start messaging.
		</div>
		<div id="no-messages" ng-show="state === 'empty'">
			Be the first. Messages will be displayed here.
		</div>
		<div class="message-wrapper" ng-show="state === 'in'">
			<div ng-repeat="message in messages" class="message {{message.message.id}}"
			     ng-class="{'message-mine' : message.mine === true}">
				<img class="avatar" src="img/default-avatar.png">
				<div class="message-content">
					<div class="from">{{message.sender.userMainInfo.firstName}}</div>
					<div class="text">{{message.message.text}}</div>
					<div class="info">
						<div class="sent">{{message.message.sent}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="send-message-wrapper" ng-show="state === 'in' || state === 'empty'">
			<div class="attachment">
				<i class="fas fa-paperclip"></i>
			</div>
			<textarea id="send-message-text" onkeydown="resize(this)" rows="1"
			          placeholder="Write a message..."></textarea>
			<div class="emoji">
				<i class="fas fa-smile"></i>
			</div>
			<div class="send-message">
				<i class="fas fa-angle-right"></i>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/textarea.js"></script>
<script type="text/javascript" src="js/event.js"></script>

</body>
</html>