<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Messenger.</title>

	<!--STYLES-->
	<link rel="stylesheet" type="text/css" href="css/scrollbar.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/header-left.css">
	<link rel="stylesheet" type="text/css" href="css/header-right.css">
	<link rel="stylesheet" type="text/css" href="css/search.css">
	<link rel="stylesheet" type="text/css" href="css/preview.css">
	<link rel="stylesheet" type="text/css" href="css/conversation.css">
	<link rel="stylesheet" type="text/css" href="css/message.css">

	<!--FONTS-->
	<link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">

	<!--ICONS-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--LIBS-->
	<script language="JavaScript" src="lib/angular.js"></script>
	<script type="text/javascript" src="lib/moment.js"></script>

	<script type="text/javascript" src="js/app.js"></script>
</head>
<body>
<div class="content" ng-controller="MainController">

	<header class="header-left">
		<div class="logo" ng-click="state = 'out'">
			<i class="fas fa-comment"></i>
		</div>
		<div class="logo-name">
			Messenger.
		</div>
	</header>

	<header class="header-right">
		<div class="conversation-name">Андрей Алексеев</div>
		<div class="status">online</div>
		<div class="search">
			<div class="icon"><i class="fas fa-search"></i></div>
		</div>
	</header>

	<div class="content-left">
		<div class="search">
			<div class="icon"><i class="fas fa-search"></i></div>
			<input id="search-conversations" type="text" placeholder="Search">
		</div>

		<div class="preview-wrapper">

			<div ng-repeat="preview in conversations" class="preview {{preview.conversationId}}"
			     ng-click="openConversation(preview.conversationId)">
				<img class="avatar" src="img/default-avatar.png">
				<div class="info">{{preview.firstName}} {{preview.lastName}}</div>
				<div class="message-preview">
					<div class="from"></div>
					<div class="text">{{preview.lastMessage.text}}</div>
				</div>
				<div class="delete"><i class="fas fa-times"></i></div>
				<div class="unread"><i class="fas fa-circle"></i></div>
				<div class="sent">{{preview.lastMessage.sent}}</div>
			</div>

		</div>
	</div>

	<div class="conversation">
		<div id="no-conversation" ng-show="state === 'out'">
		Select conversation to start messaging.
		</div>
		<div id="no-messages" ng-show="state === 'empty'">
		Be the first. Messages will be displayed here.
		</div>
		<div class="message-wrapper" ng-show="state === 'in'">
			<div ng-repeat="message in messages" class="message {{message.message.id}}"
			     ng-class="{'message-mine' : message.mine === true}">
				<img class="avatar" src="img/default-avatar.png">
				<div class="message-content">
					<div class="from">{{message.senderInfo.firstName}} {{message.senderInfo.lastName}}</div>
					<div class="text">{{message.text}}</div>
					<div class="info">
						<div class="sent">{{message.message.sent}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="send-message-wrapper" ng-show="state === 'in' || state === 'empty'">
			<div class="attachment">
				<i class="fas fa-paperclip"></i>
			</div>
			<textarea id="send-message-text" onkeydown="resize(this)" rows="1"
			          placeholder="Write a message..."></textarea>
			<div class="emoji">
				<i class="fas fa-smile"></i>
			</div>
			<div class="send-message">
				<i class="fas fa-angle-right"></i>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript" src="js/textarea.js"></script>
<script type="text/javascript" src="js/event.js"></script>

</body>
</html>