<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="MainController" ng-cloak>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title ng-show="!isLoaded">Messenger.</title>
	<title ng-show="isLoaded">Messenger.
		{{newMessageCount === 0 ? '' : (' - ' + newMessageCount + ' new message' + (newMessageCount === 1 ? '' : 's'))}}
	</title>

	<!--STYLES-->
	<link rel="stylesheet" type="text/css" href="css/auth.css">
	<link rel="stylesheet" type="text/css" href="css/scrollbar.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/header-left.css">
	<link rel="stylesheet" type="text/css" href="css/header-right.css">
	<link rel="stylesheet" type="text/css" href="css/search.css">
	<link rel="stylesheet" type="text/css" href="app/preview/preview.css">
	<link rel="stylesheet" type="text/css" href="css/conversation.css">
	<link rel="stylesheet" type="text/css" href="app/message/message.css">
	<link rel="stylesheet" type="text/css" href="css/forward.css">
	<link rel="stylesheet" type="text/css" href="css/select-message.css">
	<link rel="stylesheet" type="text/css" href="app/attachment/attachment.css">
	<link rel="stylesheet" type="text/css" href="app/attachment/forwarded/forwarded-attachment.css">

	<link rel="stylesheet" type="text/css" href="css/angular.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">

	<!--FONTS-->
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">

	<!--ICONS-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--LIBS-->
	<script language="JavaScript" src="lib/angular.js"></script>
	<script language="JavaScript" src="lib/jquery-3.3.1.min.js"></script>
	<script language="JavaScript" src="lib/moment.js"></script>
</head>

<body>

<div class="auth-wrapper" ng-show="isAuth && isLoaded">
	<div class="auth">
		<div class="auth-content" ng-show="isLogin">
			<form ng-submit="login()">
				<div class="heading">Log in</div>
				<input autofocus type="text" placeholder="Login" ng-model="credentials.login">
				<input type="password" placeholder="Password" ng-model="credentials.password">
				<div class="register-hint">Haven't join yet?<a ng-click="isLogin = false"> Register</a>.</div>
				<input type="submit" value="Login">
			</form>
		</div>
		<div class="register-content" ng-show="!isLogin">
			<form ng-submit="register()">
				<div class="heading">Register</div>
				<input autofocus type="text" placeholder="First name" ng-model="credentials.firstName">
				<input type="text" placeholder="Last name" ng-model="credentials.lastName">
				<input type="text" placeholder="Login" ng-model="credentials.login">
				<input type="password" placeholder="Password" ng-model="credentials.password">
				<input type="password" placeholder="Confirm password" ng-model="credentials.confirmPassword">
				<div class="register-hint">Change your mind? <a ng-click="isLogin = true">Login</a>.</div>
				<input type="submit" value="Register">
			</form>
		</div>
	</div>
</div>

<div class="content" ng-class="isLeftView ? 'mobile-left' : 'mobile-right'" ng-show="!isAuth && isLoaded">

	<header class="header-left">
		<div class="logo" ng-click="state = 'out'"><i class="fas fa-comment"></i></div>
		<div class="logo-name">Messenger.</div>
	</header>

	<header class="header-right">
		<div class="menu" ng-click="changeMobileView()"><i class="fas fa-bars"></i></div>
		<div class="conversation-name" ng-show="state === 'in'">{{currentPreview.with.userMainInfo.firstName}}
			{{currentPreview.with.userMainInfo.lastName}}
		</div>
		<div class="status" ng-show="state === 'in'">online</div>
		<div class="right">
			<div class="search"><i class="fas fa-search"></i></div>
			<div class="logout" ng-click="logout()"><i class="fas fa-sign-out-alt"></i></div>
		</div>
	</header>

	<div class="content-left">
		<div class="search">
			<div class="icon"><i class="fas fa-search"></i></div>
			<input id="search-conversations" type="text" placeholder="Search" ng-model="searchText"
			       ng-change="searchForConversations()">
		</div>
		<div class="preview-wrapper">
			<preview class="preview" ng-repeat="preview in conversationsOrSearch()"
			         preview="preview" date-format="dateFormat"
			         ng-class="preview.conversation.id === currentPreview.conversation.id ? 'selected' : ''"
			         ng-click="openConversation(preview)" ng-show="!isUserSearch"></preview>
			<div ng-repeat="user in searchUsers" class="user-preview" ng-click="createConversation(user)"
			     ng-show="isUserSearch">
				<img class="avatar" src="img/default-avatar.png">
				<div class="info">{{user.userMainInfo.firstName}} {{user.userMainInfo.lastName}}</div>
				<div class="login">@{{user.user.login}}</div>
			</div>
		</div>
	</div>

	<div class="conversation">
		<div id="no-conversation" ng-show="state === 'out'">
			Select conversation to start messaging.
		</div>
		<div id="no-messages" ng-show="state === 'empty'">
			Be the first. Messages will be displayed here.
		</div>
		<div class="message-wrapper" ng-show="state === 'in'" scrolly="loadMore()">
			<message class="message" ng-repeat="message in messages"
			         message="message" date-format="dateFormat" is-forwarded="false"
			         ng-class="{'message-mine' : message.mine === true, 'selected' : message.selected === true}"
			         ng-click="selectMessage(message)">
			</message>
		</div>
		<div class="attachment-wrapper">
			<forwarded-attachment
					ng-show="editingMessage &&
					editingMessage.forwarded.length !== 0" forwarded="editingMessage.forwarded">
			</forwarded-attachment>
		</div>
		<div class="send-message-wrapper"
		     ng-show="(state === 'in' || state === 'empty') && selectedMessages.length === 0">
			<i class="fas fa-paperclip" ng-show="!editingMessage" show-att></i>
			<i class="fas fa-ban" ng-show="editingMessage" ng-click="cancelEditing()"></i>
			<div class="attachments-menu" show-att ng-show="showAttachmentsMenu === true">
				<div class="button"><i class="fas fa-camera"></i></div>
				<div class="button"><i class="fas fa-video"></i></div>
				<div class="button"><i class="fas fa-file"></i></div>
			</div>
			<textarea autofocus id="send-message-text" ng-model="messageText" onkeydown="resize(this)" rows="1"
			          ng-keyup="enterMessage($event)" placeholder="Write a message..."></textarea>
			<div class="emoji">
				<i class="fas fa-smile"></i>
			</div>
			<div ng-click="sendMessage()" class="send-message">
				<i ng-show="!isEditMessageView" class="fas fa-angle-right"></i>
				<i ng-show="isEditMessageView" class="fas fa-angle-up"></i>
			</div>
		</div>
		<div class="selected-messages-menu" ng-show="selectedMessages.length !== 0">
			<div class="button" ng-click="deleteSelectedMessages()"><i class="fas fa-trash"></i></div>
			<div class="button" ng-click="replySelectedMessage()"><i class="fas fa-reply"></i></div>
			<div class="button"><i class="fas fa-arrow-right"></i></div>
			<div class="button" ng-show="selectedMessages.length === 1 && selectedMessages[0].mine"
			     ng-click="editSelectedMessage()"><i class="fas fa-pen"></i></div>
			<div class="right">
				<div class="text-button" ng-click="clearSelectedMessages()">Cancel</div>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript" src="js/app.js"></script>

<script type="text/javascript" src="app/message/message.component.js"></script>
<script type="text/javascript" src="app/preview/preview.component.js"></script>
<script type="text/javascript" src="app/attachment/forwarded/forwarded-attachment.component.js"></script>

<script type="text/javascript" src="js/textarea.js"></script>
<script type="text/javascript" src="js/dom-util.js"></script>

</body>
</html>