.message {
  display: flex;
  align-self: center;
  flex-shrink: 0;
  flex-direction: row;

  border-radius: 4px;

  width: 100%;
  min-height: 10px;

  .avatar {
    width: 50px;
    height: 50px;

    margin: 8px;
  }

  .from {
    color: white;

    font-size: 16px;
    font-weight: bold;

    grid-row: 1;
  }

  .text {
    grid-row: 2;

    color: white;

    /*preserving line brakes*/
    white-space: pre-wrap;
  }

}

.message-container {
  display: flex;

  max-width: 800px;

  padding: 5px;
  margin: 2px;
}

.selected {
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
}

.message-content {
  display: grid;

  padding: 0 10px;

  background: var(--grey);

  cursor: pointer;

  border-radius: 10px 10px 10px 0;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  grid-column: 2;
  grid-row: 4;

  .sent {
    color: white;

    font-size: 12px;
  }

  .status {
    color: var(--special) !important;

    display: grid;

    div {
      display: grid;
      margin-top: 2px;
    }

    i {
      font-size: 14px;
      padding: 4px;

      color: var(--special);
    }

  }

}

.message-mine {
  flex-direction: row-reverse;

  .message-container {
    flex-direction: row-reverse;
  }

  .message-content {
    background: var(--grey);

    border-radius: 10px 10px 0 10px;
  }

  .info {
    grid-column: 1;
    justify-content: flex-start;
  }

}
