<div class="preview" [ngClass]="{'selected': selected}" *ngIf="preview.lastMessage">
	<img class="avatar"
	     [src]="ImageService.getImagePathByCompressionMode(FILE_URL + preview.with.avatar, ImageCompressionMode.SMALL)"
	     alt="">
	<div class="info">
		<div class="text">{{preview.with.firstName}} {{preview.with.lastName}}</div>
		<i class="fas fa-circle" *ngIf="isOnline"></i>
	</div>
	<div class="message-preview">
		<div class="from">
			{{preview.lastMessage.sender.login === me.login ? 'You' :
			preview.lastMessage.sender.firstName}}:
		</div>
		<div class="text">{{preview.lastMessage.text ? preview.lastMessage.text : 'forwarded messages'}}</div>
	</div>
	<!--<div class="delete"><i class="fas fa-times"></i></div>-->
	<div class="unread-wrapper">
		<div class="unread" *ngIf="preview.lastMessage.sender.login !== me.login && preview.unread !== 0">
			{{preview.unread}}
		</div>
		<div class="unread-mine" *ngIf="!preview.lastMessage.read && preview.lastMessage.sender.login === me.login">
			<i class="fas fa-circle"></i>
		</div>
	</div>
	<div class="sent">{{preview.lastMessage.sent | date:'HH:mm'}}</div>
</div>
