.image-attachment {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.splitter {
		height: 40px;
	}

	.image {
		width: 44px;
		height: 44px;
		object-fit: cover;

		border-radius: 4px;

		margin-right: 5px;
	}

}

.image-attachment-wrapper {
	display: flex;
	align-items: center;
}
