<div class="auth-wrapper">
	<div class="auth">
		<div class="register-content">
			<form (ngSubmit)="register()">
				<div class="heading">Register</div>
				<input autofocus type="text" placeholder="First name" [(ngModel)]="registerUser.firstName" name="first">
				<input type="text" placeholder="Last name" [(ngModel)]="registerUser.lastName" name="last">
				<input type="text" placeholder="Login" [(ngModel)]="registerUser.login" name="login">
				<input type="password" placeholder="Password" [(ngModel)]="registerUser.password" name="password">
				<input type="password" placeholder="Confirm password" [(ngModel)]="passwordConfirmation" name="confirm">
				<div class="register-hint">Change your mind? <a routerLink="/auth">Login</a>.</div>
				<input type="submit" value="Register">
			</form>
		</div>
	</div>
</div>
