.document-attachment {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .splitter {
	height: 40px;
  }

  .document {
	width: 44px;
	height: 44px;
	object-fit: cover;

	border-radius: 4px;

	margin-right: 5px;
  }

}

.document-attachment-wrapper {
  display: flex;
  align-items: center;
}
