.header-right {
    display: flex;
    align-items: center;

    padding: 10px;

    background: var(--dark);

    border-radius: 0 2px 2px 0;

    color: white;
}

.header-right .conversation-name {
    font-weight: bold;
    margin: 0 10px;

    white-space: nowrap;
}

.header-right .status {
    font-size: 20px;
}

.header-right .right {
    display: flex;
    align-items: center;

    margin-left: auto;

    background: unset;
}

.header-right .right .search {
    cursor: pointer;
}

.header-right .right .search i:hover {
    color: var(--special);
}

.header-right .right i {
    color: white;
    font-size: 24px;
    padding: 4px;

    cursor: pointer;
}

.header-right .menu {
    display: none;
    align-items: center;

    padding: 2px;

    height: 100%;

    cursor: pointer;
}

.header-right .menu i {
    font-size: 32px;
    color: white;
}

.header-right .menu i:hover {
    color: var(--special);
}

.header-right .logout {
    display: grid;
    align-items: center;

    padding: 2px;

    height: 100%;

    cursor: pointer;
}

.header-right .logout i {
    font-size: 32px;
    color: white;
}

.header-right .logout i:hover {
    color: var(--special);
}