.message {
	display: flex;
	flex-shrink: 0;

	max-width: 800px;
	min-height: 10px;

	padding: 5px;
	margin: 2px;
}

.message-mine {
	flex-direction: row-reverse;
	align-self: flex-end;
}

.message-mine .message-content {
	background: #666666;
}

.message-mine .from {
	color: white;
}

.message-mine .text {
	color: white;
}

.message-mine .sent {
	color: white;
}

.message-mine .status {
	color: white;
}

.message-content {
	display: grid;

	grid-template-columns: auto;
	grid-template-rows: auto auto auto;

	padding: 5px 15px;

	background: white;

	border-radius: 10px;
}

.message .avatar {
	width: 50px;
	height: 50px;

	margin: 8px;
}

.message .from {
	font-size: 16px;
	font-weight: bold;

	grid-row: 1;
}

.message .text {
	grid-row: 2;

	/*preserving line brakes*/
	white-space: pre-wrap;
}

.conversation .info {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	grid-column: 2;
	grid-row: 3;
}

.conversation .message-mine .info {
	grid-column: 1;
	justify-content: flex-start;
}

.conversation .info .sent {
	font-size: 16px;
}

.conversation .info .status {
	display: grid;
}

.conversation .status i {
	font-size: 16px;
	padding: 4px;
}