.content-left {
    display: flex;
    flex-direction: column;

    max-height: calc(100vh - 52px);

    border-right: 2px solid var(--bright);
}

.preview-wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;
}

.preview {
    flex-shrink: 0;

    display: grid;
    grid-template-columns: 65px auto 40px;
    grid-template-rows: 2.2fr 1fr 1fr;

    align-items: center;

    height: 60px;
    padding: 5px;

    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

.preview-wrapper .selected {
    background-color: var(--dark) !important;

    color: white;
}

.preview-wrapper .selected .info {
    color: white;
}

.preview-wrapper .selected .from {
    color: white !important;
}

.preview-wrapper .selected .text {
    color: white;
}

.preview-wrapper .selected .delete i {
    color: white;
}

.preview-wrapper .selected .unread-wrapper i {
    color: white;
}

.preview-wrapper .selected .sent {
    color: white;
}

.preview:hover {
    background: #fafafa;
    cursor: pointer;
}

.preview .avatar {
    grid-column: 1;
    grid-row: 1/4;

    margin: 5px;

    width: 50px;
    height: 50px;
}

.preview .info {
    grid-column: 2/3;
    grid-row: 1;

    font-size: 16px;
    font-weight: bold;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preview .message-preview {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    grid-column: 2/3;
    grid-row: 2/4;

    min-width: 100px;
    max-width: 400px;
}

.preview .message-preview .from {
    margin-right: 5px;

    font-size: 16px;

    color: var(--dark);

    white-space: nowrap;
}

.preview .message-preview .text {
    font-size: 16px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preview .delete {
    display: grid;
    justify-content: end;

    grid-column: 3;
    grid-row: 1;

    height: 100%;

    color: var(--dark);
}

.delete i {
    display: grid;
    align-self: start;

    margin: 4px;

    font-size: 14px;
}

.preview .unread-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 3;
    grid-row: 1/4;
}

.preview .unread-wrapper .unread {
    color: white;
    font-size: 12px;
    font-weight: bold;

    text-align: center;

    padding: 0 6px;

    background: var(--dark);
    border-radius: 10px;
}

.unread-wrapper .unread-mine i {
    font-size: 12px;
    color: var(--dark);

    background: transparent;
}

.preview .sent {
    grid-column: 3;
    grid-row: 3;

    text-align: center;

    font-size: 12px;
}

.user-preview {
    flex-shrink: 0;

    display: grid;
    grid-template-columns: 65px auto 40px;
    grid-template-rows: 2.2fr 1fr 1fr;

    align-items: center;

    height: 60px;
    padding: 5px;

    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

.user-preview:hover {
    background: var(--bright);
    cursor: pointer;
}

.user-preview .avatar {
    grid-column: 1;
    grid-row: 1/4;

    margin: 5px;

    width: 50px;
    height: 50px;
}

.user-preview .info {
    grid-column: 2/3;
    grid-row: 1;

    font-size: 16px;
    font-weight: bold;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-preview .login {
    grid-column: 2;
    grid-row: 2;

    font-size: 16px;
    color: var(--dark);

    min-width: 100px;
    max-width: 400px;
}