.preview-wrapper {
	display: flex;
	flex-direction: column;

	overflow-y: auto;
	overflow-x: hidden;
}

.preview {
	flex-shrink: 0;

	display: grid;
	grid-template-columns: 65px auto 30px;
	grid-template-rows: 2.2fr 1fr 1fr;

	align-items: center;

	height: 60px;
	padding: 5px;

	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
}

.preview:hover {
	background: #fafafa;
	cursor: pointer;
}

.preview .avatar {
	grid-column: 1;
	grid-row: 1/4;

	margin: 5px;

	width: 50px;
	height: 50px;
}

.preview .info {
	grid-column: 2/3;
	grid-row: 1;

	font-size: 16px;
	font-weight: bold;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.preview .message-preview {
	grid-column: 2/3;
	grid-row: 2/4;

	min-width: 100px;
	max-width: 400px;
}

.preview .message-preview .text {
	font-size: 16px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.preview .delete {
	display: grid;
	justify-content: end;

	grid-column: 3;
	grid-row: 1;

	height: 100%;

	color: #666666;
}

.delete i {
	display: grid;
	align-self: start;

	margin: 4px;

	font-size: 14px;
}

.preview .unread {
	display: grid;

	grid-column: 3;
	grid-row: 1/4;

	text-align: center;
	color: #666666;
}

.unread i {
	font-size: 10px;
}

.preview .sent {
	grid-column: 3;
	grid-row: 3;

	font-size: 12px;
}