* {
	font-family: 'Krub', sans-serif;
	font-size: 24px;
}

body {
	padding: 0;
	margin: 0;

	background-color: #f4f4f4;
}

.content {
	display: grid;
	grid-template-columns: 2fr 5fr;
	grid-template-rows: 50px auto;

	height: 100vh;
	max-width: 1280px;

	margin: 0 auto;

	background: white;

	overflow-y: hidden;
}

.content-left {
	display: flex;
	flex-direction: column;

	max-height: calc(100vh - 52px);

	border-right: 2px solid #f3f3f3;
}