.preview {
  flex-shrink: 0;

  display: grid;
  grid-template-columns: 65px auto 40px;
  grid-template-rows: 2.2fr 1fr 1fr;

  align-items: center;

  height: 60px;
  padding: 5px;

  border-bottom: 1px solid var(--bright);

  .avatar {
    grid-column: 1;
    grid-row: 1/4;

    margin: 5px;

    width: 50px;
    height: 50px;

    object-fit: cover;
    border-radius: 25px;
  }

  .info {

    display: flex;
    align-items: center;

    .text {
      grid-column: 2/3;
      grid-row: 1;

      font-size: 16px;
      font-weight: bold;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    i {
      color: var(--special);
      font-size: 10px;
      margin: 4px;
    }

  }

  .message-preview {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    grid-column: 2/3;
    grid-row: 2/4;

    min-width: 100px;
    max-width: 400px;

    .from {
      margin-right: 5px;

      font-size: 16px;

      color: var(--dark);

      white-space: nowrap;
    }

    .text {
      font-size: 16px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .delete {
    display: grid;
    justify-content: end;

    grid-column: 3;
    grid-row: 1;

    height: 100%;

    color: var(--dark);

    i {
      display: grid;
      align-self: start;

      margin: 4px;

      font-size: 14px;
    }

  }

  .unread-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 3;
    grid-row: 1/4;

    .unread {
      color: white;
      font-size: 12px;
      font-weight: bold;

      text-align: center;

      padding: 0 6px;

      background: var(--dark);
      border-radius: 10px;
    }

    .unread-mine i {
      font-size: 12px;
      color: var(--dark);

      background: transparent;
    }

  }

  .sent {
    grid-column: 3;
    grid-row: 3;

    text-align: center;

    font-size: 12px;
  }

}

.preview:hover {
  background: #fafafa;
  cursor: pointer;
}

.selected {
  background-color: var(--grey) !important;

  color: white;

  .info {
    color: white;
  }

  .from {
    color: white !important;
  }

  .text {
    color: white;
  }

  .delete i {
    color: white;
  }

  .unread-wrapper i {
    color: white;
  }

  .sent {
    color: white;
  }

}
