<div class="message" [ngClass]="{'message-mine': mine, 'selected': message.selected}">
	<div class="message-container" *ngIf="message.sender.id !== 0">
		<img class="avatar"
		     [src]="ImageService.getImagePathByCompressionMode(FILE_URL + message.sender.avatar.path, ImageCompressionMode.SMALL)"
		     alt=""
		     *ngIf="!isForwarded" (click)="openProfile(message.sender)">
		<div class="message-content">
			<div class="from">{{message.sender.firstName}}</div>
			<div class="text">{{message.text}}</div>
			<div class="forwarded-wrapper" *ngIf="message.forwarded.length !== 0">
				<app-message class="forwarded" *ngFor="let message of message.forwarded"
				             [message]="message"
				             [isForwarded]="true"
				             [me]="me"
				             (openImageEvent)="openImageEvent.emit($event)">
				</app-message>
			</div>
			<div class="images-wrapper">
				<img class="image" alt="" *ngFor="let i of message.images"
				     [src]="ImageService.getImagePathByCompressionMode(FILE_URL + i.path, ImageCompressionMode.MEDIUM)"
				     (click)="openImage(i); $event.stopPropagation()">
			</div>
			<div class="documents-wrapper">
				<div class="document" *ngFor="let d of message.documents"
				     (click)="openDocument(d); $event.stopPropagation()">
					<i class="fas fa-file"></i>
					<div class="text">{{d.path.substring(d.path.lastIndexOf('/') + 1)}}</div>
				</div>
			</div>
			<div class="info">
				<div class="sent">{{message.sent | date: 'HH:mm'}}</div>
				<div class="status" *ngIf="message.sender.login === me.login && !isForwarded">
					<div class="sending" *ngIf="!message.id">
						<i class="far fa-clock"></i>
					</div>
					<div class="received"
					     *ngIf="message.id && message.read === false">
						<i class="fas fa-check"></i>
					</div>
					<div class="read" *ngIf="message.id && message.read">
						<i class="fas fa-eye"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="system-message" *ngIf="message.sender.id === 0"
	     (click)="$event.stopPropagation()">
		<div class="text">
			{{message.text}}
		</div>
	</div>
</div>
