.message {
	display: flex;
	align-self: center;
	flex-shrink: 0;

	border-radius: 4px;

	width: 100%;
	min-height: 10px;
}

.message-container {
	display: flex;

	max-width: 800px;

	padding: 5px;
	margin: 2px;
}

.message-wrapper .selected {
	width: 100%;
	background: rgba(0, 0, 0, 0.05);
}

.message-mine {
	flex-direction: row-reverse;
}

.message-mine .message-container {
	flex-direction: row-reverse;
}

.message-mine .message-content {
	background: var(--grey);

	border-radius: 10px 10px 0 10px;
}

.message-content {
	display: grid;

	padding: 0 10px;

	background: var(--grey);

	border-radius: 10px 10px 10px 0;
}

.message .avatar {
	width: 50px;
	height: 50px;

	margin: 8px;
}

.message .from {
	color: white;

	font-size: 16px;
	font-weight: bold;

	grid-row: 1;
}

.message .text {
	grid-row: 2;

	color: white;

	/*preserving line brakes*/
	white-space: pre-wrap;
}

.conversation .info {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	grid-column: 2;
	grid-row: 4;
}

.conversation .message-mine .info {
	grid-column: 1;
	justify-content: flex-start;
}

.conversation .info .sent {
	color: white;

	font-size: 12px;
}

.conversation .info .status {
	color: var(--special) !important;

	display: grid;
}

.conversation .info .status div {
	display: grid;
}

.conversation .status i {
	font-size: 14px;
	padding: 4px;

	color: var(--special);
}