.content-left {
	display: flex;
	flex-direction: column;

	max-height: calc(100vh - 52px);

	border-right: 2px solid var(--bright);

	.preview-wrapper {
		display: flex;
		flex-direction: column;

		height: 100%;

		overflow-y: auto;
		overflow-x: hidden;

		.loading-previews {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px;
		}

		.selected {
			background-color: var(--grey) !important;

			color: white;

			.info {
				color: white;
			}

			.from {
				color: white !important;
			}

			.text {
				color: white;
			}

			.delete i {
				color: white;
			}

			.unread-wrapper i {
				color: white;
			}

			.sent {
				color: white;
			}
		}

		.splitter {
			width: 100%;
			height: 0;
			border-top: 1px solid var(--bright);
		}
	}
}
