<div class="content" [ngClass]="isLeftView === true ? 'mobile-left' : 'mobile-right'">
	<div class="header-left">
		<div class="logo" routerLink="/im"><i class="fas fa-comment"></i></div>
		<div class="logo-name">Messenger.</div>
	</div>

	<div class="header-right">
		<div class="menu" (click)="closeConversation(); removeForwardedAttachment(); cancelEditing()">
			<i class="fas fa-bars"></i>
		</div>
		<img class="avatar"
		     *ngIf="currentPreview"
		     [src]="ImageService.getImagePathByCompressionMode(FILE_URL + currentPreview.avatar.path, ImageCompressionMode.SMALL)"
		     alt="">
		<div class="conversation-name"
		     *ngIf="currentPreview && currentPreview.type.toString() === PreviewType[PreviewType.CONVERSATION]"
		     (click)="openProfile(currentPreview.with)">
			{{currentPreview.with.firstName}}
			{{currentPreview.with.lastName}}
		</div>
		<div class="conversation-name"
		     *ngIf="currentPreview && currentPreview.type.toString() === PreviewType[PreviewType.CHAT]"
		     (click)="openProfile(currentPreview.with)">
			{{currentPreview.conversation.chatName}}
		</div>
		<div class="status"
		     *ngIf="currentPreview && currentPreview.type.toString() === PreviewType[PreviewType.CONVERSATION]">
			{{lastSeenView(currentPreview.with.lastSeen)}}
		</div>
		<div class="members"
		     *ngIf="currentPreview && currentPreview.type.toString() === PreviewType[PreviewType.CHAT]">
			{{currentPreview.conversation.users.length + ' member' +
		(currentPreview.conversation.users.length !== 1 ? 's' : '')}}
		</div>
		<div class="right">
			<div class="search"><i class="fas fa-search"></i></div>
			<app-conversation-menu [currentPreview]="currentPreview"
			                       (closeConversation)="closeConversation()">
			</app-conversation-menu>
			<app-profile-menu [currentPreview]="currentPreview"
			                  (openProfile)="openProfile($event)">
			</app-profile-menu>
		</div>
	</div>

	<div class="content-left">
		<div class="search">
			<div class="icon"><i class="fas fa-search"></i></div>
			<input #previewSearch id="search-conversations" type="text" placeholder="Search"
			       [(ngModel)]="searchText"
			       (ngModelChange)="searchTextChanged.next($event)" name="search-conversations">
		</div>
		<div class="preview-wrapper" appScroll (appScrollBottom)="loadMorePreviews()">
			<div class="splitter"></div>
			<div class="loading-previews loading-icon" *ngIf="!previews">
				<i class="fas fa-circle-notch fa-spin"></i>
			</div>
			<div class="no-previews" *ngIf="previews && previews.length === 0 && searchText.length === 0">
				<i class="fas fa-user-friends"></i>
				<div class="text">No conversations yet.</div>
				<a (click)="searchText = '@'; previewSearchFocus()">Find companions.</a>
			</div>
			<ng-container *ngIf="previews && searchText.length !== 0">
				<div class="create-wrapper">
					<div class="create-chat wrapper" *ngIf="searchText.trim()[0] !== '@'"
					     (click)="createChat(searchText.trim())">
						<i class="fas fa-users"></i>
						<div class="text">Create chat:<span class="name">{{searchText.trim()}}</span></div>
						<i class="fas fa-plus right"></i>
					</div>
					<div class="create-channel wrapper" *ngIf="searchText.trim()[0] === '@'">
						<i class="fas fa-bullhorn"></i>
						<div class="text">Create channel:<span class="name">{{searchText.trim()}}</span></div>
						<i class="fas fa-plus right"></i>
					</div>
				</div>
				<div class="splitter"></div>
			</ng-container>
			<ng-container *ngIf="previews && searchText.trim()[0] !== '@'">
				<app-conversation-preview
					*ngFor="let preview of previewsOrSearchPreviews()"
					[preview]="preview"
					[selected]="currentPreview &&
					preview.conversation.id == currentPreview.conversation.id"
					[isOnline]=" preview.type.toString() === PreviewType[PreviewType.CONVERSATION]? isOnline(preview.with.lastSeen) : false"
					(click)="openConversation(preview.conversation.id)">
				</app-conversation-preview>
				<div class="not-found" *ngIf="searchText && searchPreviews && searchPreviews.length === 0">
					<i class="far fa-frown"></i>
					<div class="text">No matching conversations found.</div>
				</div>
			</ng-container>
			<ng-container *ngIf="previews && searchText && searchText.trim()[0] === '@'">
				<ng-container
					*ngFor="let user of searchUsers">
					<app-user-preview [user]="user" (click)="createConversation(user)">
					</app-user-preview>
				</ng-container>
				<div class="not-found" *ngIf="searchUsers && searchUsers.length === 0">
					<i class="far fa-frown"></i>
					<div class="text">No matching users found.</div>
				</div>
			</ng-container>
		</div>
	</div>

	<div class="conversation">
		<div class="loading-messages loading-icon" *ngIf="!previews || !messages">
			<i class="fas fa-circle-notch fa-spin"></i>
		</div>
		<div class="no-conversation" *ngIf="previews && messages && !currentPreview">
			<i class="fas fa-comments"></i>
			<div class="text">Select conversation to start messaging.</div>
		</div>
		<div class="no-conversation" *ngIf="currentPreview && isSelectForwardTo">
			<i class="fas fa-arrow-right"></i>
			<div class="text">Select conversation to forward messages to.</div>
		</div>
		<div class="no-messages" *ngIf="currentPreview && messages && messages.length === 0 && !isSelectForwardTo">
			<i class="fas fa-comment"></i>
			<div class="text">Be the first. Messages will be displayed here.</div>
		</div>
		<div class="message-wrapper" #messageWrapper *ngIf="messages && currentPreview && !isSelectForwardTo"
		     appScroll (appScrollTop)="loadMoreMessages()">
			<app-message *ngFor="let message of messages | descSort: 'sent'"
			             (click)="selectMessage(message, $event)"
			             [message]="message" [isForwarded]="false" [me]="me"
			             (openProfileEvent)="openProfile($event)"
			             (openImageEvent)="messageImage = $event">
			</app-message>
		</div>
		<div class="attachment-wrapper">
			<app-forwarded-attachment
				*ngIf="currentMessageAttachments && currentMessageAttachments.forwarded.length !== 0"
				[forwarded]="currentMessageAttachments.forwarded"
				(removeForwardedAttachmentEvent)="removeForwardedAttachment()">
			</app-forwarded-attachment>
			<ng-container *ngIf="attachedImages && attachedImages.length != 0">
				<app-image-attachment *ngFor="let i of attachedImages"
				                      [image]="i"
				                      (removeImageAttachment)="removeImageAttachment(i)">
				</app-image-attachment>
			</ng-container>
			<ng-container *ngIf="attachedDocuments && attachedDocuments.length != 0">
				<app-document-attachment *ngFor="let d of attachedDocuments"
				                         [document]="d"
				                         (removeDocumentAttachment)="removeDocumentAttachment(d)">
				</app-document-attachment>
			</ng-container>
		</div>
		<div class="send-message-wrapper"
		     *ngIf="routeConversationId && !(selectedMessages.length !== 0 && !editingMessage)">
			<i class="fas fa-ban" *ngIf="editingMessage" (click)="cancelEditing()"></i>
			<app-attachments-menu [editingMessage]="editingMessage"
			                      (attachedImages)="attachedImages.push($event)"
			                      (attachedDocuments)="attachedDocuments.push($event)">
			</app-attachments-menu>
			<textarea #sendMessageText id="send-message-text" autofocus autosize rows="1"
			          placeholder="Write a message..."
			          [(ngModel)]="messageText"
			          appMessageSend [minRows]="1" [maxRows]="10">
      </textarea>
			<div class="emoji">
				<i class="fas fa-smile"></i>
			</div>
			<div class="send-message">
				<i *ngIf="!editingMessage" class="fas fa-angle-right" (click)="sendMessage()"></i>
				<i *ngIf="editingMessage" class="fas fa-angle-up" (click)="editMessage()"></i>
			</div>
		</div>
		<div class="selected-messages-menu" *ngIf="selectedMessages.length !== 0 && !editingMessage">
			<div class="button" (click)="deleteSelectedMessages()"><i class="fas fa-trash"></i></div>
			<div class="button" (click)="attachSelectedMessagesAsForwardedAttachment()"><i class="fas fa-reply"></i>
			</div>
			<div class="button" (click)="forwardSelectedMessages()"><i class="fas fa-arrow-right"></i></div>
			<div class="button" *ngIf="selectedMessages.length === 1 && selectedMessages[0].sender.login === me.login"
			     (click)="editSelectedMessage()"><i class="fas fa-pen"></i></div>
			<div class="right">
				<div class="text-button" (click)="deselectMessages()">Cancel</div>
			</div>
		</div>
	</div>
</div>

<div class="overlay" *ngIf="(currentProfile && currentProfile.user) || messageImage">
	<app-image-preview *ngIf="messageImage"
	                   [messageImage]="messageImage"
	                   (closeEvent)="messageImage = null"
	                   (deleteImageEvent)="deleteImageFromMessage()"
	                   (appOverlayClick)="messageImage = null">
	</app-image-preview>
	<app-profile *ngIf="currentProfile && currentProfile.user"
	             [currentProfile]="currentProfile" [me]="me" (closeProfile)="currentProfile.user = null"
	             (editProfile)="editProfile($event)" (appOverlayClick)="currentProfile.user = null">
	</app-profile>
</div>
