.forwarded-attachment {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.splitter {
		height: 40px;
	}

}

.forwarded-attachment-wrapper {
	display: flex;
	align-items: center;
}
