<div class="auth-wrapper">
  <div class="auth">
    <div class="register-content">
      <form>
        <div class="heading">Register</div>
        <input autofocus type="text" placeholder="First name">
        <input type="text" placeholder="Last name">
        <input type="text" placeholder="Login">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm password">
        <div class="register-hint">Change your mind? <a routerLink="/auth">Login</a>.</div>
        <input type="submit" value="Register">
      </form>
    </div>
  </div>
</div>
